@model TeaShop.Models.HomeViewModel


        <div class="menu">
            <div class="product-row">
                @foreach (var product in Model.PromotedProducts)
                {
                    <div class="khungtrangchu">
                        <div class="tentrangchu">@product.Name</div>

                        @{
                            var imageUrl = product.ImageURL;
                            var imagePath = Path.Combine(Server.MapPath("~/Images"), Path.GetFileName(imageUrl));
                            var otherImagePath = Path.Combine(Server.MapPath("~/Images/Others"), Path.GetFileName(imageUrl));
                            var relativeImagePath = "";

                            if (File.Exists(imagePath))
                            {
                                relativeImagePath = Url.Content("~/Images/" + Path.GetFileName(imageUrl));
                            }
                            else if (File.Exists(otherImagePath))
                            {
                                relativeImagePath = Url.Content("~/Images/Others/" + Path.GetFileName(imageUrl));
                            }
                           
                        }
                        <img class="hinhanhtrangchu" src="@relativeImagePath" alt="Product Image" />


                        <div class="triangle">
                            <div class="discount-badge">
                                -@product.DiscountPercentage.ToString("0")%
                            </div>

                        </div>
                        @*<img class="hinhanhtrangchu" src=@Url.Content(relativeImagePath) alt="@product.Description" />*@
                        <div class="in4_nuoctrangchu">
                            <div class="pricetrangchu">
                                <span class="original-price">@string.Format("{0:N0}đ", product.Price)</span>
                                <span class="discounted-price">@string.Format("{0:N0}đ", product.Price * (1 - product.DiscountPercentage / 100))</span>
                            </div>

                            <a href="#" class="dattrangchu" data-toggle="modal" data-target="#productModal_@product.ProductID"
                               data-name="@product.Name"
                               data-subtitle="Lime Black Tea"
                               data-image-url="@relativeImagePath"
                               data-price="@string.Format("{0:N0}đ", product.Price)">ĐẶT NƯỚC</a>
                        </div>
                    </div>
                }
            </div>
        </div>


@foreach (var product in Model.PromotedProducts)
{
    <div class="modal fade" id="productModal_@product.ProductID" tabindex="-1" role="dialog" aria-labelledby="productModalLabel_" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productTitle">@product.Name</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        @if (Session["CustomerID"] != null)
                        {
                            <div class="col-ms-6">
                                @{
                                    string relativeImagePath = "";
                                    relativeImagePath = "~/Images/" + product.ImageURL.Replace("\\", "/");
                                }
                                <img id="productImage" src="@Url.Content(relativeImagePath)" alt="@product.Description" class="img-fluid ms-3" style="max-width: 450px; max-height: 700px;" />
                                <p id="productSubtitle">@product.Name</p>
                            </div>
                            <div class="col-ms-6">
                                @using (Html.BeginForm("AddToCart", "Cart", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.Hidden("ProductID", product.ProductID)
                                    <div class="form-group">
                                        <label for="Size">Kích cỡ:</label>
                                        <div id="Size">
                                            <label><input type="radio" name="Size" value="Hot" checked>Size nhỏ</label>
                                            <label><input type="radio" name="Size" value="Ice regular size">Size vừa</label>
                                            <label><input type="radio" name="Size" value="Ice regular size">Size lớn</label>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Quantity">Số lượng:</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <button class="btn btn-outline-secondary" type="button" onclick="decreaseQuantity(@product.ProductID)">-</button>
                                            </div>
                                            <input type="number" class="form-control" name="Quantity" id="quantityInput_@product.ProductID" value="1" min="1" />
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button" onclick="increaseQuantity(@product.ProductID)">+</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="productPrice">Giá:</label>
                                        <p id="productPrice">@string.Format("{0:N0}đ", product.Price * (1 - product.DiscountPercentage / 100))</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">THÊM GIỎ HÀNG</button>
                                    </div>
                                }
                            </div>
                        }
                        else
                        {
                            <div class="col-12 text-center">
                                <h5 class="modal-title">Yêu cầu đăng nhập!</h5>
                                <p>Bạn cần đăng nhập để xem giỏ hàng.</p>
                                @Html.ActionLink("Đăng nhập", "Login", "Account", null, new { @class = "btn btn-primary" })
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
