
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}

@model IEnumerable<TeaShop.Models.IngredientModel>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        .table td, .table th {
            vertical-align: middle;
            text-align: center;
        }

        .table img {
            display: block;
            margin: 0 auto;
            max-width: 100px;
            max-height: 100px;
        }

        .text-center {
            vertical-align: middle !important;
        }

        .search-box {
            width: 250px;
            display: flex;
            align-items: center;
            background-color: #f1f1f1;
            border-radius: 20px;
            padding: 5px 10px;
        }

            .search-box input {
                border: none;
                background: none;
                outline: none;
                padding: 5px 10px;
            }

            .search-box i {
                color: #999;
            }
    </style>
</head>
<body>
    <!-- Search Form -->
    @using (Html.BeginForm("Index", "IngredientAdmin", FormMethod.Get))
    {
        <div class="search-box">
            <input type="text" id="searchString" name="searchString" placeholder="Tìm kiếm nguyên liệu. . . " />
            <button type="submit" style="border: none; background: none; float:right;">
                <i class="fas fa-search"></i>
            </button>
        </div>
    }
    <br />
    <!-- Button to Open the Create Modal -->
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#createModal">Thêm nguyên liệu</button>
    <br />
    <br />
    <!-- Ingredients Table -->
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Mã nguyên liệu</th>
                <th>Tên nguyên liệu</th>
                <th>Nhà cung cấp</th>
                <th>Giá</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.IngredientID</td>
                    <td>@item.IngredientName</td>
                    <td>@item.Supplier.SupplierName</td>
                    <td>@string.Format("{0:N0}đ", item.Price)</td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal_@item.IngredientID">Sửa</button>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal_@item.IngredientID">Xóa</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <!-- Create Modal -->
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                @using (Html.BeginForm("Create", "IngredientAdmin", FormMethod.Post, new { id = "createForm", area = "Admin" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="modal-header">
                        <h5 class="modal-title" id="createModalLabel">Thêm Nguyên Liệu</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="createIngredientName">Tên Nguyên Liệu</label>
                            <input type="text" id="createIngredientName" name="IngredientName" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label for="createSupplierID">Nhà Cung Cấp</label>
                            @Html.DropDownList("SupplierID", (SelectList)ViewBag.SupplierID, "Chọn", new { @class = "form-control", @required = "required" })
                        </div>

                        <div class="form-group">
                            <label for="createPrice">Giá</label>
                            <input type="text" id="createPrice" name="Price" class="form-control" required />
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-primary">Thêm Mới</button>
                    </div>
                }
            </div>
        </div>
    </div>

    @foreach (var item in Model)
    {
        <!-- Edit Modal -->
        <div id="editModal_@item.IngredientID" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    @using (Html.BeginForm("Edit", "IngredientAdmin", FormMethod.Post, new { id = "editForm", area = "Admin" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="modal-header">
                            <h5 class="modal-title" id="editModalLabel">Cập Nhật Nguyên Liệu</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" id="editIngredientID" name="IngredientID" value="@item.IngredientID" />
                            <div class="form-group">
                                <label for="editIngredientName">Tên Nguyên Liệu</label>
                                <input type="text" id="editIngredientName" name="IngredientName" value="@item.IngredientName" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label for="editSupplierID">Nhà Cung Cấp</label>
                                @Html.DropDownList("SupplierID", null, "Chọn nhà cung cấp", new { @class = "form-control", selected = item.SupplierID })
                            </div>
                            <div class="form-group">
                                <label for="editPrice">Giá</label>
                                <input type="text" id="editPrice" name="Price" value="@item.Price" class="form-control" required />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                            <button type="submit" class="btn btn-primary">Cập Nhật</button>
                        </div>
                    }

                </div>
            </div>
        </div>
    }

    @foreach (var item in Model)
    {
        <!-- Delete Modal -->
        <div id="deleteModal_@item.IngredientID" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Xóa Nguyên Liệu</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Bạn có chắc muốn xóa nguyên liệu @item.IngredientName?</p>
                    </div>
                    <div class="modal-footer">
                        @using (Html.BeginForm("Delete", "IngredientAdmin", FormMethod.Post, new { id = "deleteForm", area = "Admin" }))
                        {
                            @Html.AntiForgeryToken()
                            <input type="hidden" id="IngredientID" name="IngredientID" value="@item.IngredientID" />
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                            <button type="submit" class="btn btn-danger">Xóa</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    }

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


</body>
</html>
