@model TeaShop.ViewModel.LoginViewModel

<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
            <div class="card rounded-3 text-black">
                <div class="row g-0">
                    <div class="col-lg-6">
                        <div class="card-body p-md-5 mx-md-4">
                            <div class="text-center">
                                <img src="~/Images/milktea.png"
                                     style="width: 185px;" alt="logo" />
                                <h4 class="mt-1 mb-5 pb-1">Đăng nhập tài khoản để mua ngay</h4>
                                @*@Html.Partial("Notifications")*@
                            </div>
                            @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <p>Vui lòng đăng nhập tài khoản</p>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="Username">Tên tài khoản</label>
                                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control", id = "Username", name = "Username", placeholder = "Tên tài khoản" })
                                    @Html.ValidationMessageFor(m => m.Username)
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="Password">Mật khẩu</label>
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", id = "Password", name = "Password" })
                                    @Html.ValidationMessageFor(m => m.Password)
                                </div>
                                <div class="text-center pt-1 mb-5 pb-1">
                                    <button type="submit" class="btn btn-success btn-lg btn-block" id="loginButton">Đăng nhập</button>
                                </div>
                                <div class="d-flex align-items-center justify-content-center pb-4">
                                    <p class="mb-0 me-2">Chưa có tài khoản?</p>
                                    <a href="@Url.Action("Register", "Account")" class="btn btn-outline-danger">Đăng kí</a>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                        <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                            <h4 class="mb-4">Chúng tôi không chỉ là một cửa hàng</h4>
                            <p class="small mb-0" style="color:white;font-size:20px;">
                                Điều quan trọng là phải tự chăm sóc nỗi đau, sau đó là sự trưởng thành của bệnh nhân, nhưng đồng thời cũng sẽ có rất nhiều công việc và nỗi đau. Để đi đến chi tiết nhỏ nhất, không ai nên thực hiện bất kỳ loại công việc nào trừ khi anh ta thu được lợi ích nào đó từ nó.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->@{
    var showModal = TempData["ShowModal"] != null && (bool)TempData["ShowModal"];
}

<div class="modal fade" id="thanhtoanform" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thanh toán</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Nội dung modal -->
                <h5>Đăng nhập thành công</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>


    <script>
        $(document).ready(function () {
            @if (showModal)
            {
                <text>
                    $('#thanhtoanform').modal('show');
                </text>
            }
        });
    </script>

@*<div id="successMessage"style="display:none;">
        Đăng nhập thành công!
        <div class="progress-container">
            <div class="progress-bar" id="successProgressBar"></div>
        </div>
    </div>
    <div id="errorMessage" style="display:none;">
        Tên đăng nhập hoặc mật khẩu không đúng!
        <div class="progress-container">
            <div class="progress-bar" id="errorProgressBar"></div>
        </div>
    </div>

    <script>
        document.getElementById("loginButton").addEventListener("click", function () {
            var username = document.getElementById("Username").value;
            var password = document.getElementById("Password").value;

            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/login", true);
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    var successMessage = document.getElementById("successMessage");
                    var errorMessage = document.getElementById("errorMessage");
                    var successProgressBar = document.getElementById("successProgressBar");
                    var errorProgressBar = document.getElementById("errorProgressBar");
                    if (xhr.status === 200) {
                        successMessage.style.display = "block";
                        errorMessage.style.display = "none";
                        setTimeout(function () {
                            successMessage.style.opacity = 1;
                            successProgressBar.style.width = "100%";
                        }, 10);
                        setTimeout(function () {
                            successMessage.style.opacity = 0;
                            successProgressBar.style.width = "0%";
                            setTimeout(function () {
                                successMessage.style.display = "none";
                            }, 500);
                        }, 3000);
                    } else {
                        errorMessage.style.display = "block";
                        successMessage.style.display = "none";
                        setTimeout(function () {
                            errorMessage.style.opacity = 1;
                            errorProgressBar.style.width = "100%";
                        }, 10);
                        setTimeout(function () {
                            errorMessage.style.opacity = 0;
                            errorProgressBar.style.width = "0%";
                            setTimeout(function () {
                                errorMessage.style.display = "none";
                            }, 500);
                        }, 3000);
                    }
                }
            };
            xhr.send(JSON.stringify({ username: username, password: password }));
        });
    </script>*@


