@model TeaShop.Models.HomeViewModel

@{
    ViewData["Title"] = "Trang Chủ";
}
<div id="slider-carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#slider-carousel" data-slide-to="1"></li>
        <li data-target="#slider-carousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item active">
            @*<div class="col-sm-12">
                    <h1><span>Milk</span>-Tea</h1>
                    <h2>Nơi bán trà sữa ngon nhất!</h2>
                    <p>Nguyên liệu nấu đa dạng phong phú</p>
                </div>*@
            <div class="col-sm-12">
                <img src="~/Images/istockphoto-1180993812-1024x1024.jpg" style="width: 2100px; height: 800px;" />

            </div>
        </div>
        <div class="item">
            @* <div class="col-sm-12">
                    <h1><span>Milk</span>-Tea</h1>
                    <h2>Nơi bán trà sữa ngon nhất!</h2>
                    <p>Nguyên liệu nấu đa dạng phong phú</p>
                </div>*@
            <div class="col-sm-6">
                <img src="~/Images/istockphoto-1396442366-1024x1024.jpg" style="width: 2100px; height: 800px; " />

            </div>
        </div>

        <div class="item">
            @*<div class="col-sm-12">
                    <h1><span>Milk</span>-Tea</h1>
                    <h2>Nơi bán trà sữa ngon nhất!</h2>
                    <p>Nguyên liệu nấu đa dạng phong phú</p>

                </div>*@
            <div class="col-sm-6">
                <img src="https://vcdn1-suckhoe.vnecdn.net/2023/05/30/tra-sua-9157-1685413987.jpg?w=0&h=0&q=100&dpr=1&fit=crop&s=L5EKFamXVACrdt41n_64eg" style="width: 2100px; height: 800px; " />
            </div>
        </div>

    </div>

    @*<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
            <i class="ri-arrow-left-s-line"></i>
        </a>
        <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
            <i class="ri-arrow-right-s-line"></i>
        </a>*@

</div>
@*hiển thị sản phẩm*@

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                @foreach (var product in Model.ProductModels.Take(12))
                {
                    <div class="col-md-4 mb-4">
                        <div class="khungtrangchu">
                            <div class="tentrangchu">@product.ProductName</div>
                            @{
                                var imageUrl = product.ImageURL;
                                var imagePath = Path.Combine(Server.MapPath("~/Images"), Path.GetFileName(imageUrl));
                                var otherImagePath = Path.Combine(Server.MapPath("~/Images/Others"), Path.GetFileName(imageUrl));
                                var relativeImagePath = "";

                                if (File.Exists(imagePath))
                                {
                                    relativeImagePath = Url.Content("~/Images/" + Path.GetFileName(imageUrl));
                                }
                                else if (File.Exists(otherImagePath))
                                {
                                    relativeImagePath = Url.Content("~/Images/Others/" + Path.GetFileName(imageUrl));
                                }
                                else
                                {
                                    relativeImagePath = Url.Content("~/Images/default.png"); // Default image if none is found
                                }
                            }
                            <img class="hinhanhtrangchu" src="@relativeImagePath" alt="Product Image" />
                            <div class="in4_nuoctrangchu">
                                <div class="pricetrangchu">@string.Format("{0:N0}đ", product.Price) </div>
                                <a href="#" class="dattrangchu" data-toggle="modal" data-target="#productModal_@product.ProductID"
                                   data-name="@product.ProductName"
                                   data-subtitle="Lime Black Tea"
                                   data-image-url="/Images/@product.ImageURL"
                                   data-price="@string.Format("{0:N0}đ", product.Price)">ĐẶT NƯỚC</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="col-md-4">
            @foreach (var product in Model.PromotedProducts.OrderByDescending(p => p.DiscountPercentage).Take(4))
            {
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        @{
                            var imageUrl = product.ImageURL;
                            var imagePath = Path.Combine(Server.MapPath("~/Images"), Path.GetFileName(imageUrl));
                            var otherImagePath = Path.Combine(Server.MapPath("~/Images/Others"), Path.GetFileName(imageUrl));
                            var relativeImagePath = "";

                            if (File.Exists(imagePath))
                            {
                                relativeImagePath = Url.Content("~/Images/" + Path.GetFileName(imageUrl));
                            }
                            else if (File.Exists(otherImagePath))
                            {
                                relativeImagePath = Url.Content("~/Images/Others/" + Path.GetFileName(imageUrl));
                            }
                            else
                            {
                                relativeImagePath = Url.Content("~/Images/default.png"); // Default image if none is found
                            }
                        }

                        <div class="triangle">
                            <div class="discount-badge">
                                -@product.DiscountPercentage.ToString("0")%
                            </div>
                        </div>
                        <img class="hinhanhtrangchu" src="@relativeImagePath" alt="Product Image" />
                        <div class="in4_nuoctrangchu">
                            <div class="pricetrangchu">
                                <span class="original-price">@string.Format("{0:N0}đ", product.Price)</span>
                                <span class="discounted-price">@string.Format("{0:N0}đ", product.Price * (1 - product.DiscountPercentage / 100))</span>
                            </div>
                            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#productPromotionModal_@product.ProductID"
                               data-name="@product.Name"
                               data-subtitle="Lime Black Tea"
                               data-image-url="@relativeImagePath"
                               data-price="@string.Format("{0:N0}đ", product.Price)">ĐẶT NƯỚC</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@foreach (var product in Model.ProductModels)
{
    foreach (var giamgia in Model.PromotedProducts)
    {
        <div class="modal fade" id="productModal_@product.ProductID" tabindex="-1" role="dialog" aria-labelledby="productModalLabel_" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="productTitle">@product.ProductName</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            @if (Session["CustomerID"] != null)
                            {
                                <div class="col-ms-6">
                                    @{
                                        string relativeImagePath = "~/Images/" + product.ImageURL.Replace("\\", "/");
                                    }
                                    <img id="productImage" src="@Url.Content(relativeImagePath)" alt="@product.Description" class="img-fluid ms-3" style="max-width: 450px; max-height: 700px;" />
                                    <p id="productSubtitle">@product.ProductName</p>
                                </div>
                                <div class="col-ms-6">
                                    @using (Html.BeginForm("AddToCart", "Cart", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.Hidden("ProductID", product.ProductID)
                                        <div class="form-group">
                                            <label for="Size">Kích cỡ:</label>
                                            <div id="Size">
                                                <label><input type="radio" name="Size" value="Hot" checked>Size nhỏ</label>
                                                <label><input type="radio" name="Size" value="Ice regular size">Size vừa</label>
                                                <label><input type="radio" name="Size" value="Ice regular size">Size lớn</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="Quantity">Số lượng:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <button class="btn btn-outline-secondary" type="button" onclick="decreaseQuantity(@product.ProductID)">-</button>
                                                </div>
                                                <input type="number" class="form-control" name="Quantity" id="quantityInput_@product.ProductID" value="1" min="1" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary" type="button" onclick="increaseQuantity(@product.ProductID)">+</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="productPrice">Giá:</label>
                                            <p id="productPrice">@string.Format("{0:N0}đ", product.Price)</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary">THÊM GIỎ HÀNG</button>
                                        </div>
                                    }
                                </div>
                            }
                            else
                            {
                                <div class="col-12 text-center">
                                    <h5 class="modal-title">Yêu cầu đăng nhập!</h5>
                                    <p>Bạn cần đăng nhập để xem giỏ hàng.</p>
                                    @Html.ActionLink("Đăng nhập", "Login", "Account", null, new { @class = "btn btn-primary" })
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <div class="modal fade" id="productPromotionModal_@product.ProductID" tabindex="-1" role="dialog" aria-labelledby="productModalLabel_" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productTitle">@product.ProductName</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        @if (Session["CustomerID"] != null)
                        {
                            <div class="col-ms-6">
                                @{
                                    string relativeImagePath = "~/Images/" + product.ImageURL.Replace("\\", "/");
                                }
                                <img id="productImage" src="@Url.Content(relativeImagePath)" alt="@product.Description" class="img-fluid ms-3" style="max-width: 450px; max-height: 700px;" />
                                <p id="productSubtitle">@product.ProductName</p>
                            </div>
                            <div class="col-ms-6">
                                @using (Html.BeginForm("AddToCart", "Cart", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.Hidden("ProductID", product.ProductID)
                                    <div class="form-group">
                                        <label for="Size">Kích cỡ:</label>
                                        <div id="Size">
                                            <label><input type="radio" name="Size" value="Hot" checked>Size nhỏ</label>
                                            <label><input type="radio" name="Size" value="Ice regular size">Size vừa</label>
                                            <label><input type="radio" name="Size" value="Ice regular size">Size lớn</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Quantity">Số lượng:</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <button class="btn btn-outline-secondary" type="button" onclick="decreaseQuantity(@product.ProductID)">-</button>
                                            </div>
                                            <input type="number" class="form-control" name="Quantity" id="quantityInput_@product.ProductID" value="1" min="1" />
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button" onclick="increaseQuantity(@product.ProductID)">+</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="productPrice">Giá:</label>
                                        <p id="productPrice">@string.Format("{0:N0}đ", product.Price * (1 - giamgia.DiscountPercentage / 100))</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">THÊM GIỎ HÀNG</button>
                                    </div>
                                }
                            </div>
                                    }
                                    else
                                    {
                            <div class="col-12 text-center">
                                <h5 class="modal-title">Yêu cầu đăng nhập!</h5>
                                <p>Bạn cần đăng nhập để xem giỏ hàng.</p>
                                @Html.ActionLink("Đăng nhập", "Login", "Account", null, new { @class = "btn btn-primary" })
                            </div>
                                    }
                    </div>
                </div>
            </div>
        </div>
    </div>

}
}